<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mindorks.framework.mvvm">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>

        <intent>
            <action android:name="android.intent.action.ATTACH_DATA" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="image/*" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:name=".MvvmApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.home.HomeActivityMain"
            android:exported="false"
            android:label="@string/title_activity_home_main"
            android:theme="@style/Theme.BinaAhli" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mindorks.framework.mvvm.ui.account.login.LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.mindorks.framework.mvvm.ui.account.login.register.RegisterActivity"
            android:label="Register"
            android:launchMode="singleTop"
            android:theme="@style/Theme.BinaAhli" />
        <activity
            android:name=".ui.features.course.activity.DetailCourse"
            android:theme="@style/Theme.BinaAhli" />
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.features.pembina.activity.FormPostLokerActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.BinaAhli" />
        <activity
            android:name="com.mindorks.framework.mvvm.ui.feed.FeedActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>

        <activity
            android:theme="@style/Theme.BinaAhli"
            android:label="Daftar Pelamar"
            android:name="com.mindorks.framework.mvvm.ui.features.course.activity.ListStudentApplyCourse"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.features.course.activity.DetailCourse">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.features.course.activity.DetailCourse" />
        </activity>
        <activity
            android:name="com.mindorks.framework.mvvm.ui.feedbuilder.FeedActivityV2"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>